.box-green {	/* Class box-green */
	width: 300px;	/* Largura da box-green */
	height: 300px;	/* Altura da box-green */
	background-color: green;	/* Cor de fundo da box-green */
	border: 10px solid #2D6827;	/* Tamanho e cor da borda */
	position: absolute;	/* Seu modo de posição */
	top: 0;	/* Top = Topo da página */
	left: 0;	/* Left = Esquerda da página */
	z-index: 1;	/* Dependendo do Nº ele ficara a frente (Quando maior o numero mais a frente ele ficara) */
}

.box-blue {	/* Class box-blue */
	width: 200px;	/* Largura da box-blue */
	height: 400px;	/* Altura da box-blue */
	background-color: blue;	/* Cor de fundo da box-blue */
	border: 10px solid #1D1A86;	/* Tamanho e cor da borda */
	position: absolute;	/* Seu modo de posição */
	bottom: 20px;	/* Bottom = Lado inferior da página */
	right: 210;	/* Right = Direita da página */
	z-index: 0;	/* Dependendo do Nº ele ficara a frente (Quando maior o numero mais a frente ele ficara) */
}